<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>La plataforma</title>

        <!-- CSS FILES -->
        <link href="{{ url_for('static', filename='css//bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/templatemo-kind-heart-charity.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/index_connexion_patient.css') }}" rel="stylesheet">

    </head>

    <body id="section_1">

        <header class="site-header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 d-flex flex-wrap">
                        <p class="d-flex me-4 mb-0">
                            <i class="bi-geo-alt me-2"></i>
                            122 rue Paul Armangot, 94400 Vitry-sur-Seine
                        </p>

                        <p class="d-flex mb-0">
                            <i class="bi-envelope me-2"></i>

                            <a href="mailto:laura.korenfeld@gmail.com">
                                laura.korenfeld@gmail.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-youtube"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-whatsapp"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg bg-light shadow-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="static/images/logo.png" class="logo img-fluid" alt="La plataforma">
                    <span>
                        La plataforma
                        <small>Plateforme de télémédecine</small>
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/">Menu</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4">Patient</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/fhir">Médecin</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/apropos">A propos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
{% extends 'layout/base.html' %}

{% block title %} Patient {{ patient.name }} {% endblock %}

{% block content %}
<h1 class="subject mt-5 mb-5">Patient : {{ patient['name'][0]['family'] }} {{ patient['name'][0]['given'][0] }}</h1>

{% if patient %}
<!-- <form class="row justify-content-center ml-5 mr-5 mb-5">
  <div class="col-md-3 form-group mr-sm-2">
    <input type="text" class="form-control" name="keyword" placeholder="Entrez le nom du patient..." />
  </div>
  <div class="col-md-3 form-group mr-sm-2">
    <input type="text" class="form-control" onfocus="(this.type='date')" name="from_date" placeholder="Date de début"/>
  </div>
  <div class="col-md-3 form-group mr-sm-2">
    <input type="text" class="form-control" onfocus="(this.type='date')" name="to_date" placeholder="Date de fin"/>
  </div>
    <input type="submit" value="Rechercher" class="my-2 my-sm-0 btn btn-success" size="sm">
</form> -->


<div class="row justify-content-center">
  <div class="col-md-10 col-xs-12 mb-5">
    <table class="table table-hover table-bordered">
      <tr class="bg-light">
        <th class="text-center">Id du patient</th>
        <th class="text-center">Nom et Prénom</th>
        <th class="text-center">Date de naissance</th>
        <th class="text-center">Contact</th>
        <th class="text-center">Sexe</th>
        <!-- <th class="text-center">Date et heure d'arrivée</th> -->
        <!-- <th class="text-center">Ordre de gravite</th> -->
        <!-- <th class="text-center">Date et heure de départ</th> -->
        <!-- <th class="text-center">Service</th> -->
        <!-- <th class="text-center">Statut</th> -->
      </tr>
      <tr>
        <td class="text-center">{{ patient.id }}</td>
        <td class="text-center">{{ patient['name'][0]['family'] }} {{ patient['name'][0]['given'][0] }}</td>
        <td class="text-center" class="my-date">{{ patient.birthDate }}</td>
        <td class="text-center">{{ patient['telecom'][1]['value'] }}</td>
        <td class="text-center">{{ patient.gender }}</td>
      </tr>
    </table>
<a class="btn btn-primary" href="{{ url_for('delete_patient', patient_id=patient['identifier'][0]['value']) }}">Modifier</a>
    <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce patient ?')">Supprimer</button>
</form>
<form action="{{ url_for('edit_patient', patient_id=patient['identifier'][0]['value']) }}" method="POST">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" value="{{ patient['name'][0]['family'] }}" required>
    </div>
    <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" value="{{ patient['name'][0]['given'][0] }}" required>
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <select class="form-control" id="genre" name="genre" required>
            <option value="male" {% if patient.gender =='male' %} selected{% endif %}>Homme</option>
            <option value="female" {% if patient.gender =='female' %} selected {% endif %}>Femme</option>
            <option value="other" {% if patient.gender =='other' %} selected {% endif %}>Autre</option>
        </select>
    </div>
    <!-- Ajoutez ici d'autres champs à modifier -->
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>


  </div>
  <div class="row justify-content-center mb-5">
    <a class="btn btn-primary mt-2" href="/fhir/Patient" role="button">Retourner à la page de la liste des patients</a>
  </div>
     </div>
        <div class="row">
<div class="col-md-6 d-flex justify-content-center">
  <!-- Add "data-toggle" and "data-target" attributes to trigger the modal with id "joinRoomModal" -->
  <a class="custom-btn btn smoothscroll" data-toggle="modal" data-target="#joinRoomModal">Rejoindre une salle</a>
</div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
			  <a href="https://0.0.0.0:3000/mon-chat-video" class="custom-btn btn smoothscroll">Créer une salle pour téléconsulter</a>
          </div>
{% else %}
<p class="text-center"><i>Aucun résultats retourné!!!</i></p>
{% endif %}

  <script>
   window.onload = function() {
     let d = document.getElementsByClassName('my-date')
     for (let i = 0; i < d.length; i++)
         d[i].innerText = moment(d[i].innerText).locale('fr').fromNow()
   }

</script>

            <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mb-4">
                        <img src="file://static/images/logo.png" class="logo img-fluid" alt="">
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <h5 class="site-footer-title mb-3">Liens</h5>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Notre histoire</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Newsroom</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Causes</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mx-auto">
                        <h5 class="site-footer-title mb-3">Contact</h5>

                        <p class="text-white d-flex mb-2">
                            <i class="bi-telephone me-2"></i>

                            <a href="tel: 120-240-9600" class="site-footer-link">
                                120-240-9600
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <i class="bi-envelope me-2"></i>

                            <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                donate@charity.org
                            </a>
                        </p>

                        <p class="text-white d-flex mt-3">
                            <i class="bi-geo-alt me-2"></i>
                            122 rue Paul Armangot, 94400 Vitry-sur-Seine
                        </p>

                        <a href="#" class="custom-btn btn mt-3">Get Direction</a>
                    </div>
                </div>


            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-7 col-12">
                            <p class="copyright-text mb-0">Copyright © 2023 <a href="#">La plataforma - </a> Laura Korenfeld

                        	EPISEN ITS2 FISA</p><br>
                        </div>

                        <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-instagram"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-linkedin"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="https://youtube.com/templatemo" class="social-icon-link bi-youtube"></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div></div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/counter.js"></script>
        <script src="js/custom.js"></script>
    <script>console.clear();

const loginBtn = document.getElementById('login');
const signupBtn = document.getElementById('signup');

loginBtn.addEventListener('click', (e) => {
	let parent = e.target.parentNode.parentNode;
	Array.from(e.target.parentNode.parentNode.classList).find((element) => {
		if(element !== "slide-up") {
			parent.classList.add('slide-up')
		}else{
			signupBtn.parentNode.classList.add('slide-up')
			parent.classList.remove('slide-up')
		}
	});
});

signupBtn.addEventListener('click', (e) => {
	let parent = e.target.parentNode;
	Array.from(e.target.parentNode.classList).find((element) => {
		if(element !== "slide-up") {
			parent.classList.add('slide-up')
		}else{
			loginBtn.parentNode.parentNode.classList.add('slide-up')
			parent.classList.remove('slide-up')
		}
	});
});</script>




{% endblock %}

    </body>
</html>