<!DOCTYPE html>
<html>
  <head>
    <title>Page médecin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Mon Application</h1>
      <div class="row">
        <div class="col-md-6">
          <a href="/page_ajout_patient" class="btn btn-primary">Ajouter un patient</a>
        </div>
        <div class="col-md-6">
          <a href="/rech_patient" class="btn btn-primary">Rechercher un patient</a>
        </div>
      </div>
    </div>
  </body>
</html>
