<!DOCTYPE html>
<html>
  <head>
    <title>Page médecin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
	  <link rel="preconnect" href="https://fonts.googleapis.com">
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@300;600&family=Open+Sans&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">

					</li>
					<li class="nav-item">
						<a class="nav-link" href="/">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="presentation.html">À Propos</a>
					</li>
				</ul>
			</div>
			</div>
		</nav> <br><br><br><br>

    <div class="d-flex flex-column min-vh-100">
      <div class="container content">
        <h1 class="text-center py-4">Bienvenue sur la page médecin</h1>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center">
            <a href="/fhir/page_ajout_patient" class="btn btn-primary qare-btn">Ajouter un patient</a>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <a href="/fhir/rech_patient" class="btn btn-primary qare-btn">Rechercher un patient</a>
          </div>
        </div>
      </div> <br><br><br><br><br>
		<footer class="footer">
			<div class="container">
			  <div class="row">
				<div class="col-md-4">
				  <h5 class="text-uppercase mb-4">A propos de nous</h5>
				  <p>Plateforme de télémédecine....</p>
				</div>
				<div class="col-md-4">
				  <h5 class="text-uppercase mb-4">Contactez-nous</h5>
				  <ul class="list-unstyled">
					<li>
						<a href="https://www.google.com/maps/dir//CHAI+FLO+-+LA+CAVE+-+40550/data=!4m8!4m7!1m0!1m5!1m1!1s0xd53fbe97dfaac63:0x17e2a5d61a27ed0a!2m2!1d-1.3019174!2d43.8784365">
							<i class="fas fa-map-marker-alt"></i> 172 Avenue du Marensin<br>Paris, France<br><br>
						</a>
					</li>
					<li>
						<a href="mail:">
					  		<i class="fas fa-envelope"></i> info@telemedecine.com<br><br>
						</a>
					</li>
					<li>
						<a href="tel:0664121738">
							<i class="fas fa-phone"></i> 07 64 22 17 88<br>
						</a>
					</li>
				  </ul>
				</div>
				<div class="col-md-4">
				  <h5 class="text-uppercase mb-4">Nous suivre</h5>
				  <ul class="list-inline">
					<li class="list-inline-item">
					  <a href="https://www.facebook.com>
						<i class="fa-brands fa-facebook fa-3x"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="https://www.instagram.com">
						<i class="fa-brands fa-instagram fa-3x"></i>
					  </a>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
		  </footer>
	</body>
</html>
