<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Centre médical - Gestion des dossiers patients</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<br>
<header class="header">
    <div class="col-md-6">
        <a href="/fhir" class="btn btn-primary">Accueil</a>
    </div>
</header>
<div class="mx-auto text-center">
    <h1>Centre médical - Gestion des dossiers patients</h1>
    <!-- Formulaire pour rechercher un patient -->
    <h2>Rechercher un patient</h2><br><br>
    <form id="search-patient-form" method="POST">
        <label for="identifiant">Identifiant du patient:</label>
        <input type="text" id="identifiant" name="patient_id"><br><br>
        <button type="submit">Rechercher</button>
    </form>
</div>
</body>
</html>
