<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Centre médical - Gestion des dossiers patients</title>
</head>
<header>
      <div class="col-md-6">
          <a href="/" class="btn btn-primary">Accueil</a>
      </div>
</header>
<body>
    <h1>Centre médical - Gestion des dossiers patients</h1>
    <!-- Formulaire pour rechercher un patient -->
    <h2>Rechercher un patient</h2>
    <form id="search-patient-form" method="GET">
        <label for="search-id">Identifiant :</label>
        <input type="text" id="search-id" name="patient_id"><br><br>
        <button type="submit">Rechercher</button>
    </form>

</body>
</html>
