/* Mise en forme générale de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

    background-image: url('images/acc_medecin.png');
    /* Mise en forme de l'en-tête */
    header {
    background-color: #5a2771;
    color: white;
    padding: 20px;
    text-align: center;
    }
    
    /* Mise en forme du formulaire */
    form {
    margin: 20px;
    }
    
    /* Mise en forme des champs de formulaire */
    fieldset {
    border: none;
    margin-bottom: 20px;
    padding: 20px;
    }
    
    /* Mise en forme des boutons radio */
    input[type="radio"] {
    margin-right: 10px;
    }
    
    /* Mise en forme du bouton d'envoi */
    button[type="submit"] {
    background-color: #BCED74;
    color: #5a2771;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    }
    
    /* Mise en forme du pied de page */
    footer {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    }